.movie-list-page {
  &__outlet {
    margin-bottom: 10px;
    min-height: 310px;
  }

  &__toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid var(--color-grey2);
    box-shadow: 0 1px #080707;
  }
}