.search-form {
  padding: 0 10%;
  width: 100%;
  display: grid;
  grid-template-columns: 70% calc(30% - 1rem);
  // grid-template-rows: 100%;
  grid-template-areas: "legend legend"
  "input btn";
  gap: 1rem 2rem;

  &__legend {
    grid-area: legend;
    font-size: 2em;
    font-weight: 300;
  }

  &__input {
    grid-area: input;
    padding: 1rem;
    width: 100%;
    border-radius: 4px;
    background: rgba(50, 50, 50, .8);
    font-size: 1.25em;
    color: rgba(255, 255, 255, .8);
  }

  &__btn {
    grid-area: btn;
    padding: 1rem;
    width: 100%;
    border-radius: 4px;
    background: rgba(246, 82, 97, 1);
    font-size: 1.25em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
  }
}