.genre-selector {
  display: flex;
  list-style: none;

  &__btn {
    margin-bottom: -2px;
    padding: 1rem;
    background: none;
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
    color: #FFF;

    &_selected {
      border-color: var(--color-pink);
    }
  }
}