:root {
  --color-white: #FFF;
  --color-pink: #F65261;
  --color-grey1: #232323;
  --color-grey2: #424242;
  --color-grey3: #555;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  color-scheme: light dark;
  color: var(--color-white);
  background-color: var(--color-grey3);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: var(--color-pink);
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--color-pink);
}

button {
  border-radius: 4px;
  padding: 0.6em 1.2em;
  border: 0;
  background-color: var(--color-pink);
  font: 500 1em inherit;
  color: var(--color-white);
  cursor: pointer;
  transition: border-color 0.25s;
}

input {
  outline: none;
  border: none;
}

@media (prefers-color-scheme: light) {
  :root {
    // color: #213547;
    // background-color: #FFF;
  }
}
